.admin-page {
    width: 100%; 
    height: 100vh;
    text-align:center;
  }

  .admin-page .before-create button {
    background-color: Black;
    border-radius: 20px;
    height: 45px;
    position: relative;
    width: 150px;
    border-width: 0px;
    color: white;
    font-size: 15px;
    margin: 15px;
  }

  .admin-page .before-create button:hover {
    background-color:#222222;
    transition: 0.7s;
  }

  .capa{
    font-size: 18px;
  }

  .capa-wrap {
    border-radius: 15px; 
  }
  
  .capa select {
    border: none; 
    outline: none; 
    background-color: #f5d7f2; 
    padding: 10px 10px; 
  }

.room-link{
    background-color: #f1ecec;
    border-radius: 5px;
    font-size: 16px;
}

.invite-fr  {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #bababa;
  border-radius: 10px;
  padding: 8px; 
  width:350px;
  gap:6px;
}

.room-link{
  background-color:#efefef;
}

.invite button {
  border: 1px solid;
  border-color: #c3c3c3;
  border-radius: 10px;
  height: 42px;
  width: 52px;
  padding: 0;
  margin: 0;
}

.invite button:hover {
  background-color:#f5d7f2;
  transition: 0.7s;
}

a:link {
  color: black;
  background-color: transparent;
}

.logo-btn{
  height: 25px;
  background: none;
}
