  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: relative;
    width: 100%;
  }
  
  .main {
    overflow: hidden;
    height: 84vh;
  }
  
  .main-left {
    flex: 0.8;
    background-color: #f5f3f9;
    margin-left: 5%;
    margin-right: 5%;
    border-radius:10px;
  }
  
  .screens {
    flex-grow: 1;
  }
  
  .options {
    background-color: white;
  }
  
  .options-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 40px;
    border-radius: 40px;
    font-size: 1.2rem;
    width: 50px;
    margin: 0 0.5rem;
    border: 1px solid;
  }

  .chat{
    border: 0px;
  }

  .leave-room {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5d7f2;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 10px;
  }

  .leave-room button, .options-button button {
    border:none;
    background: none;
  }

  /* ChatSection */
  
  .main-right {
    flex: 0.2;
    background-color: none;
    margin-right: 5%;
    border-radius:10px;
    border: 1px solid;
    border-color: #c3c3c3;
  }
  
  .main-chat-window {
    flex-grow: 1;
    overflow-y: scroll;
  }
  
  .main-chat-window::-webkit-scrollbar {
    display: none;
  }
  
  .main-message-container > input {
    height: 50px;
    flex: 1;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
  }
 
  #video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #showChat {
    display: flex;
  }
  
  .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6vh;
      position: relative;
      width: 100%;
    }
  